* { margin:0; padding:0; box-sizing:border-box; }

.page-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

a{
    text-decoration: none;
}

@import './source/_feature-item.less';
@import './source/_header.less';
@import './source/_responsive.less';
@import './source/_variable.less';
@import './source/_mixin.less';
@import './source/_footer.less';
@import './source/_strength.less';
@import './source/_quote.less';
@import './source/_brands.less';
@import './source/_blog.less';
@import './source/_news.less';