// ===================================== GRID LAYOUT ===================================== //
// ===================================== INTRO ===================================== //
.intro {
    .intro-top {  
        height: 80px;
        border-bottom: 1px solid #696969;     
        .row {
            height: 80px;
        }     
        .col {
            .cols(33%);
            height: 100%;
            border-left: 1px solid #696969;
            border-right: 1px solid #696969;
            &-inner {
                height: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                h2 {
                    font-size: 18px;
                    letter-spacing: 2px;
                    color: #333333;
                    font-weight: 700;
                    font-family: "Cormorant Garamond";
                    text-transform: uppercase;
                }
                p {
                    padding-top: 8px;
                    font-size: 14px;
                    color: #ababab;
                    font-weight: 400;
                    font-family: "Fira Sans";
                    text-align: center;
                }
            }
        }
        
    }
    .intro-bottom {
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        .col {
            .cols(75%);
        }
        p {
            font-size: 34px;
            color: #333333;
            line-height: 48px;
            font-weight: 600;
            font-family: "Cormorant Garamond";
            text-align: center;
        }
    }
}

// ===================================== FEATURE ITEMS ===================================== //
.feature-items {
    &-container {
        max-width: 1720px;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
    }
}

// ===================================== FEATURED PRODUCTS ===================================== //
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;

    > h1 {
        font-size: 51px;
        line-height: 28px;
        color: #333333;
        font-weight: 700;
        font-family: "Cormorant Garamond", serif;
    }

    > a {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 24px;
        color: #333333;
        font-weight: 700;
        font-family: "Fira Sans", sans-serif;
    }
}

.ion-icon {
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #d6ba8d;
    font-family: "Ionicons";
}

.col {
    .cols(25%);
}

.col-inner, .image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    position: relative;
}

.arrow-btn {
    display: none;
}

.slider {
    
    .slick-arrow {

    }

    .slick-prev {
        left: 10px;
        z-index: 1;
        font-size: 20px;
        color: transparent;
        &::before {
            font-size: 0;
        }
        &:hover {
            color: #333333;
        }
    }

    .slick-next {
        right: 10px;
        font-size: 20px;
        color: transparent;
        &::before {
            font-size: 0;
        }
        &:hover {
            color: #333333;
        }
    }
}

.details {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: all 3s;
    height: 40px;
    
    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        // letter-spacing: 1px;
        text-transform: uppercase;
        color: #cccccc;
        font-family: "Ionicons";
        text-align: center;
        background-color: #333333;
        width: 40px;
        border: 1px solid white;
    }
    > a:first-child {
        width: 50%;
        padding: 0 15px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Fira Sans", sans-serif;
        text-align: center;
        background-color: #d6ba8d;

        border: 1px solid white;
    }
}

.image-container:hover {
    > .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    > .arrow-btn {
        display: flex; 
        width: 100%;  
        justify-content: space-between;
        position: absolute;
        top: cacl(50% - 40px);
        transform: translateY(-50%);
    }
}

.text-container {
    text-align: center;
    margin: 10px 0;

    > h2 {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        color: #333333;
        font-weight: 400;
        font-family: "Fira Sans", sans-serif;
        text-align: center;
    }

    > p {
        font-size: 18px;
        letter-spacing: 1px;
        color: #d6ba8d;
        font-weight: 700;
        font-family: "Cormorant Garamond", serif;
        text-align: center;
    }
}

// ===================================== BRAND ===================================== //
.brand {
    border-top: 1px solid black;
    padding: 60px 0;
    background-color: #ffffff;
    .row {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .col {
        .cols(16.6%);
        img {
            padding: 0 28px;
        }
        
    }
}

// ===================================== BLOG ===================================== //
.blog {
    background-color: #f9f9f9;
    .col {
        .cols(33.3%);
    }
    &-header {
        font-size: 56px;
        color: #333333;
        font-weight: 700;
        font-family: "Cormorant Garamond";
        text-align: center;
    }
    &-text {
        background-color: #ffffff;
    }
    &-share {
        border-top: 1px solid #ededed;
    }
    &-btn {
        display: flex;
        justify-content: center;
        p {
            padding: 0 20px;
            background-color: #ffffff;
            font-size: 24px;
            color: #333333;
            font-weight: 400;
            font-family: "Cormorant Garamond";
            text-align: center;
        }
    }
}







