body{
    font-family: 'Raleway', sans-serif;
    background: #f9f9f9;
}
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;
    border-radius: 0!important;
}
.logo {
    
    font-size: 40px;
    padding: 0 20px;
}
.logo a {
    text-decoration: none;
    color: white;
}
.navbar-nav {
    list-style: none;
    display: block;
}
.nav-link {
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 0 15px;
    transition: all 0.2s ease;
}
.nav-link:hover {
    font-size: 18px;
}
