.header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    &-container {
        max-width: 1720px;
        width: 100%;
        height: 1000px;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 28px;
    color: @bg-main-color;
    font-size: 28px;
    // .icon {
    //     padding: 15px 7px;
    // }
}

.background {
    padding-top: 260px;
    display: flex;
    flex-direction: row;
    .container {
        margin-left: 260px;
    }
    &-heading {
        p {
            font-size: 25px;
            color: @font-sub-color;
            // line-height: 32px;
            letter-spacing: 12px;
            font-weight: 400;
            font-family: "Fira Sans";
        }
        h1 {
            width: 850px;
            padding-top: 35px;
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 30px;
            line-height: 100px;
            color: #333333;
            font-weight: 600;
            font-style: italic;
            font-family: "Cormorant Garamond";
        }
    }
    &-button {
        margin-top: 71px;
        a {
            padding: 13px 31px;
            background-color: @font-main-color;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 2px;
            color: @bg-main-color;
            font-weight: 700;
            font-family: "Fira Sans";
        }
    }

    .social {
        width: 260px;
        ul {
            width: 100%;
            padding-top: 87px;
            li {
                font-size: 24px;
                letter-spacing: 2px;
                color: #ffffff;
                font-weight: 500;
                font-family: "Cormorant Garamond";
                text-align: right;
                padding-bottom: 10px;
            }
        }
    }
}

