@price-color: #e0cba9;
.fira-sans{
    font-family: 'Fira Sans', sans-serif;
}

.flex(@vertical,@horizontal){
    display: flex;
    justify-content: @horizontal;
    align-items: @vertical;
}

body{
    .flex(auto, center);
    box-sizing: border-box;
    padding: 0;
}

.grid-container{
    width: 1000px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: 0 15px;
}

.grid-item{
    width: 25%;
    padding: 0 15px 10px 15px;
    .item-inner{
        position: relative;
        
        &:hover::after{
            content: url("../pngegg.png");
            position: absolute;
            top: 45%;
            right: 0;
            transform: rotate(180deg);
        }
        &:hover::before{
            content: url("../pngegg.png");  
            position: absolute;
            top: 46%;
        }
        &:hover .action{
            transform: scale(100%);
        }
    }
}

.action{
    position: absolute;
    bottom: 1%;
    transform: scale(0%);
    width: 100%;
    height: 12%;
    .flex(center,space-between);
    flex-flow: row;
    div:first-child{
        width: 58%;
        height: 100%;
        text-align: center;
        background-color: rgb(221, 201, 111);
        .flex(center, center);
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 0.7em;
    }
}

.sicon{
    width: 13.5%;
    height: 100%;
    background-color: black;
    .flex(center, center);
}

.white{
    color: white;
    font-weight: lighter;
}

.info{
    text-align: center;
    p{
        line-height: 20px;
    }
    p:first-child{
        font-size: 14px;
        letter-spacing: 1px;
        color: #333333;
        font-weight: bold;
        .fira-sans;
    }
    p:last-child{
        color: @price-color;
    }
}
