.flex-row{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.white{
    color: #fff;
}

.nav{
    .flex-row;
    height: 70px;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
    img{
        height: 50%;
        width: 10%;
    }
    .btn{
        .flex-row;
        justify-content: space-between;
        width: 4%;
        div:first-child{
            ::after{
                content: "2";
                color: black;
            }
            // ::before{
            //     content: url('../less/img/eclipse.png');
            //     zoom: 50%;
            // }
        }
    }
}

