@media all and (max-width:1000px) {
    .grid-container{
        width: 100%;
        .action {
            height: 7%;
            a{
                font-size: 0.5em;
            }
        }
        .info{
            p:first-child{
                font-size: 10px;
            }
            p:last-child{
                font-size: 10px;
            }
        }
        .grid-item{
            width: 33%;
            .item-inner .action{
                height: 15%;
                font-size: 1.5em;
            }
        }
    }   
}

@media all and (max-width:700px) {
    .grid-container{
        width: 100%;
        .grid-item{
            width: 50%;
            .item-inner .action{
                height: 15%;
                font-size: 1.5em;
            }
        }
    }   
}