@media all and (max-width:1024px) {
    .grid-container{
        width: 100%;
        .action {
            height: 7%;
            a{
                font-size: 0.5em;
            }
        }
        .info{
            p:first-child{
                font-size: 10px;
            }
            p:last-child{
                font-size: 10px;
            }
        }
    }   
}